{% extends 'base.html' %}

{% block content %}
<h1>Edit Symptom</h1>

<form method="POST">
    <div class="mb-3">
        <label for="symptom_name" class="form-label">Symptom Name</label>
        <input type="text" class="form-control" id="symptom_name" name="symptom_name" value="{{ symptom['symptom_name'] }}" required>
    </div>
    <div class="mb-3">
        <label for="value" class="form-label">Value (Yes/No)</label>
        <input type="text" class="form-control" id="value" name="value" value="{{ symptom['value'] }}" required>
    </div>
    <div class="mb-3">
        <label for="weight" class="form-label">Weight</label>
        <input type="number" class="form-control" id="weight" name="weight" value="{{ symptom['weight'] }}" required>
    </div>
    <button type="submit" name="edit_symptom" value="{{ symptom['_id'] }}" class="btn btn-primary">
        Simpan Perubahan
    </button>
    
</form>
{% endblock %}
